.fas {
  padding: 20px;
  font-size: 35px;
  width: 55px;
  text-align: center;
  text-decoration: none;
  margin-left:20px;
}
.fab{
  padding: 10px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  margin-left: 20px;
  color:black;
}

a {
  text-decoration: none;
}

body{
  font-size: 25px;
  font-family: 'Inconsolata', monospace;
}

.intro{
  margin:50px;
  font-size:50px;
  font-weight:bold;
}

.imageandtext{
  display:flex;
  flex-direction: column;
  font-size:30px;
  padding:10px;
  align-items: flex-end;
  margin-right: 100px;
}
#myimg{
  margin-right:100px;
  
}
.life{
  text-align:center;
  font-size:40px;
}
.skills{
  text-align:center;
  font-size:40px;
}

.education{
  display:flex;
  flex-direction:column;
  
  
}
.school>img{
  height:50px;
  width:50px;
  border:1px solid black;
  margin:5px;
}
.school{
  display:flex;
  justify-content:center;

}


.graduation>img{
  height:50px;
  width:50px;
  border:1px solid black;
  margin:5px;
}
.graduation{
  display:flex;
  justify-content:center;
  
}
.masters>img{
  height:50px;
  width:50px;
  border:1px solid black;
  margin:5px;
}
.masters{
  display:flex;
  justify-content:center;
  

}
.sap>img{
  height:50px;
  width:50px;
  border:1px solid black;
  margin:5px;
}
.loreto>img{
  height:50px;
  width:50px;
  border:1px solid black;
  margin:5px;
}
.iai>img{
  height:50px;
  width:50px;
  border:1px solid black;
   margin:5px;
}
.sap{
  display:flex;
  justify-content:space-evenly;
}
.loreto{
  display:flex;
  justify-content:space-evenly;

}
.iai{
  display:flex;
  justify-content:space-evenly;

}
footer{
  font-size:15px;
  text-align:center;
}
.work{
  display:flex;
  flex-direction:column;
  text-align:center;
  font-size:50px;
}
.iai{
  font-size:25px;
}
.loreto{
  font-size:25px;
}
.sap{
  font-size:25px;
}
.quote{
  font-size:20px;
  font-family: 'Mulish', sans-serif;
}
.caption{
  display:flex;
  justify-content:space-evenly;
  font-size:30px;
}
.progress{
  border:2px solid black;
  border-radius: 20px;
  width:250px;
  }

.parentProgress{
  display:flex;
  justify-content:space-evenly;
}
.progress-bar{
  border-radius: 20px;
  border:1px solid black;
  background:gray;
}

#typed{
  margin-left:100px;
  font-size:30px;
}
.text{
  height:100px;
}

#p-section-1 {
  display: flex;
}


@media only screen and (max-width:600px) {
  
  .caption{
    font-size:25px;
   }
  .progress{
    width:50px;
  }
  #myimg {
    width:200px;
    height:200px;
  }
  
}